.box-container{
	width:748px;
	margin: 0 auto 8px auto;
	padding: 0;
	background: transparent;

}
.box-title{
	width: 748px;
	margin: 0;
	border: 0;
	padding: 0;

	cursor: pointer;
	background-color: cyan;

	border-radius: 8px 8px 0 0;

}

.box-content{
	width: 748px;
	margin: 0 auto 0 auto;
	background-color: white;
}
.open{
	display: block;
}
.close{
	display: none;
}
h1{
	font-family: Helvetica, sans-serif;
	font-size: 2em;
	color: white;
	font-weight: bold;
	margin: 0 0.25em 0 0.25em;

}
